
.pageContainer {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
    background-color: #f5f6fa;
    min-height: 100vh;
}

.bookCardBigContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.sidebar {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}
.similarBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


@media (max-width: 900px) {
    .pageContainer {
        flex-direction: column;
    }

    .sidebar {
        margin-top: 1rem;
        width: 100%;
    }
}

