
.postContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.postHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    color: #555;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.userName {
    font-weight: 600;
    color: #0077cc;
    cursor: pointer;
}

.actionText {
    color: #333;
}

.postDate {
    margin-left: auto;
    font-size: 0.8rem;
    color: #888;
}


.postContent {
    padding: 1rem;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border-top: 1px solid #eee;
    background-color: #fafafa;
}

.detailsButton {
    background-color: #9bbb5e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.detailsButton:hover {
    background-color: #005fa3;
}

.bookLocationText {
    color: #888888;
    font-style: italic;
}