.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.navBarContainer button {
    border: none;
    background: none;
    color: #389d5f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1rem; /* одинаковый padding для всех кнопок */
    border-radius: 4px;   /* одинаковый радиус */
    transition: background 0.3s, color 0.3s; /* плавная анимация при hover/active */
}

.navBarContainer button:hover {
    background: rgba(56, 157, 95, 0.1); /* легкий фон при наведении */
}

.activeLink button {
    background: linear-gradient(135deg, #9bbb5e, #389d5f);
    color: white;
}