.pageBackground {
    min-height: 100vh;
    padding: 0.5rem 0;
}

.mainContainer {
    max-width: 1200px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 180px;
    gap: 2rem;
    align-items: start;
}

.marketingColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.heroSection {
    background: linear-gradient(135deg, #fff6f0, #eaf8f0);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.heroSection h3 {
    font-size: 2rem;
    color: #389d5f;
    margin-bottom: 1rem;
}

.heroSection p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 0.8rem;
}


.postContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


@media (max-width: 768px) {
    .mainContainer {
        grid-template-columns: 1fr;

        .marketingColumn {
            order: 2; /* маркетинг после контента */
        }

        .contentColumn {
            order: 1;
        }
    }}