.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userNameButton {
    border: 1px solid white;
    background: transparent; /* убрала фон */
    border-radius: 9999px;
    padding: 6px 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.loginBtn {
    border: 1px solid white;
    background: transparent; /* убрала фон */
    border-radius: 9999px;
    padding: 6px 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}