.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userNameButton {
    border: 1px solid white;
    background: transparent; /* убрала фон */
    border-radius: 9999px;
    padding: 6px 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.loginBtn {
    border: 1px solid white;
    background: transparent; /* убрала фон */
    border-radius: 9999px;
    padding: 6px 14px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.logoImg {
    width: 26px;
    height: 26px;
    cursor: pointer;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logoImg:active {
    transform: rotate(90deg) scale(0.9);
    opacity: 0.6;
}