.appContainer {
    font-family: sans-serif;
}

.fixedTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid lightgray;
}


.header {
    border-bottom: 1px solid lightgray;
}


.navbar {
    padding: 0.5rem 1rem;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
}


.pageContent {
    padding: 1rem;
    padding-top: 120px;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}